.img-hover-zoom {
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
  }
  
  .img-hover-zoom img {
    transition: transform 0.5s ease;
  }
  
  .img-hover-zoom:hover img {
    transform: scale(1.1);
  }
  @media only screen and (max-width: 600px) {
    .main {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    .right-container {
      width: 100%;
      font-size: 15px;
    }
    .title {
      font-size: 30px;
    }
    .sizes-container {
      padding: 10px 0;
    }
    .sizes {
      padding: 10px 0;
    }
    .color-container {
      padding: 10px 0;
    }
    .colors {
      padding: 10px 0;
    }
    .cart-button {
      font-size: 15px;
    }
    .left-container {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .column-img {
      display: flex;
      flex-direction: row; /* Changed to column to stack images vertically */
      width: 100%;
      overflow-x: auto; /* Add horizontal scrollbar when needed */
      white-space: nowrap; /* Prevent wrapping of images */
      gap: 5px;
    }
  
    .column-img img {
      width: 100%; /* Set image width to 100% of container */
      max-width: 30%; /* Limit maximum image width to 30% of container */
      margin-bottom: 10px; /* Add margin between images */
  }
  }